<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/search.css">    
    <link rel="stylesheet" type="text/css" href="/css/menuholy.css">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>    

    <%- include('partials/menuholy') %>
    
    <h2>Search</h2>

    <div id="search_item">
        <input type="text" id="searchInput" onkeyup="searchItems(this.value)" placeholder="Search items by name">
        <div id="errorMessage"></div>           
    </div>

    <div id="unique_content">     
    </div>
    
    <%- include('partials/footer') %>

    <script src="/js/search.js"></script>

    <script src="/js/tooltipSearchItems.js"></script>

</body>
</html>