<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/global.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/register.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <title>Diablo 2 Challenge - Register</title>
</head>
<body>
    <%- include('partials/header') %>

    <h2>Register</h2>

    <form action="">
        <input type="username" name="" id="" placeholder="Username">
        <input type="password" name="" id="" placeholder="Password">
        <input type="confirm" name="" id="" placeholder="Confirm password">

        <span>Your favorite class</span>
        <select id="class" name="class">
            <option value="amazon">Amazon</option>
            <option value="assassin">Assassin</option>
            <option value="barbarian">Barbarian</option>
            <option value="necromancer">Necromancer</option>
            <option value="druid">Druid</option>
            <option value="paladin">Paladin</option>
            <option value="sorceress">Sorceress</option>
        </select>  
        
        <span>Your platform</span>
        <select id="class" name="class">
            <option value="amazon">Amazon</option>
            <option value="assassin">Assassin</option>
            <option value="barbarian">Barbarian</option>
            <option value="necromancer">Necromancer</option>
            <option value="druid">Druid</option>
            <option value="paladin">Paladin</option>
            <option value="sorceress">Sorceress</option>
        </select> 

        <span>Your region</span>
        <select id="class" name="class">
            <option value="amazon">Amazon</option>
            <option value="assassin">Assassin</option>
            <option value="barbarian">Barbarian</option>
            <option value="necromancer">Necromancer</option>
            <option value="druid">Druid</option>
            <option value="paladin">Paladin</option>
            <option value="sorceress">Sorceress</option>
        </select> 

    </form>

    <%- include('partials/footer') %>   
</body>
</html>