<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/global.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <title>Diablo 2 Challenge - Register</title>
</head>
<body>
    <%- include('partials/header') %>

    <h2>Register</h2>

    <form action="/register" method="POST">
        <input type="username" name="username" id="username" placeholder="Username" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <input type="confirm" name="confirm" id="confirm" placeholder="Confirm password" required>

        <span class="formSpan">Your favorite class</span>
        <select id="class" name="class">
            <option value="none">None</option>
            <option value="amazon">Amazon</option>
            <option value="assassin">Assassin</option>
            <option value="barbarian">Barbarian</option>
            <option value="necromancer">Necromancer</option>
            <option value="druid">Druid</option>
            <option value="paladin">Paladin</option>
            <option value="sorceress">Sorceress</option>
        </select>  
        
        <span class="formSpan">Your platform</span>
        <select id="platform" name="platform">
            <option value="none">None</option>
            <option value="pc">PC</option>
            <option value="playstation">Playstation</option>
            <option value="switch">Switch</option>
            <option value="xbox">Xbox</option>
        </select> 

        <span class="formSpan">Your region</span>
        <select id="region" name="region">
            <option value="none">None</option>
            <option value="europe">Europe</option>
            <option value="america">America</option>
            <option value="asia">Asia</option>
        </select> 

        <button type="submit" class="register_submit"></button>
    </form>

    <%- include('partials/footer') %>   
</body>
</html>