body {
    background-image: url("../images/site-bg-max.jpg");
    background-size: auto;
    background-repeat: repeat-y;
    background-position: top;
    background-color: black;
}

html, body {
    height: 100%;
    margin: 0;
}