@font-face {
    font-family: DiabloLight;
    src: url("../fonts/DiabloLight.ttf");
}

@font-face {
    font-family: Formal;
    src: url("../fonts/formal436bt.ttf");
}

@font-face {
    font-family: Kodia;
    src: url("../fonts/kodia.ttf");
}


ul {
    margin-top: 0;
    display: flex;
    list-style: none;
    margin: auto;
}

li {
    font-family: Formal;
    color: #fcd89b;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

li:hover {
    color: #f3b954;
    cursor: pointer;
}

#menu_holy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}