<footer>
    <div class="footer_content">
        <span><a href="https://d2challenge.com">©d2challenge.com</a></span>
        <span><a href="https://diablo2.blizzard.com/fr-fr/">©Blizzard Entertainement</a></span>
        <span><a href="https://www.paypal.com/donate/?hosted_button_id=UFJ8RYVY5G5NN">Buy me coffee</a></span>
    </div>
</footer>