<footer>
    <div class="footer_content">
        <span><a href="http://diablochallenge.gg">©diablochallenge.gg</a></span>
        <span><a href="https://diablo2.blizzard.com/fr-fr/">©Blizzard Entertainement</a></span>
        <span><a href="#">Buy me coffee</a></span>
    </div>
</footer>